@import url('./styles/scroll-container.css');
@import url('./styles/body-part-card.css');
@import url('./styles/exercise-card.css');
@import url('./styles/exercise-video.css');
@import url('./styles/detail-image.css');
@import url('./styles/hero-banner.css');
@import url('./styles/search-btn.css');

body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
